<!DOCTYPE html>
<html>
    <head>
        <title>chorded</title>
        <link rel="stylesheet" type="text/css" href="public/css/style.css">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    </head>
    <body>
        <div id="base_container">
            <p id="chorded" style="margin:3%;">Chorded</p>
            <div id="login_container">
                <p id="login">Log in</p>
                <form id="login_form">
                    <input name="Email" type="text" class="email" placeholder="Email">
                    <input name="Password" type="text" class="password" placeholder="Password">
                </form>
                <div id="login_buttons">
                    <button name="register" class="button">Register</button>
                    <button name="login" class="button">Log in</button>
                </div>
            </div>
        </div>
    </body>
</html>