<!DOCTYPE html>
<html>
    <head>
        <title>chorded</title>
        <link rel="stylesheet" type="text/css" href="public/css/login.css">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <!-- <script src="script.js"></script>  -->
    </head>
    <body>
        <div id="base_container">
            <header>
                <p id="chorded">Chorded</p>
                <!-- <img /> -->
                <!-- <img /> -->
            </header>

            <div id="login_container">
                
            </div>
        </div>

    </body>
</html>